.intro__list {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  margin: 33px 0 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .intro__list {
    width: 288px;
  }
}

@media (min-width:768px) and (max-width: 1023px) {
  .intro__list {
    width: 720px;
  }
}

@media (min-width:1024px) and (max-width: 1280px) {
  .intro__list {
    width: 690px;
  }
}