.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 59px 148px 0 148px;
}

@media (max-width: 767px) {
  .lead {
    margin: 40px auto 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .lead {
    margin: 48px auto 0;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    margin: 48px 48px 0 48px;
  }
}