.cover {
}

@media (maax-width: 1024px) {
  .cover {
    min-height: 640px;    
  }
}

@media (max-width: 768px) {
  .cover {
    margin: 90px auto 0;
  }
}

@media (max-width: 600px) {
  .cover {
    margin: 66px auto 0;   
  }
}



